@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rosy-blush: #faceca;
    --blush-deep: #facadb;
    --peach-whisper: #fae6d7;
    --peach-dusk: #fad6ca;
    --peach-glow: #faebd4;
    --slate-gray: #4f4a4a;
}

body {
    color: var(--slate-gray);
}
